@model List<MyPortfolio.Models.TblServices>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Hizmetlerim Sayfası</h3>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Hizmet Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@( item.Status==true ? "Aktif" : "Pasif"  )</td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-outline-danger">Sil</a> </td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-outline-info">Güncelle</a> </td>
            <td><a href="/Service/MakeActive/@item.ServiceId" class="btn btn-outline-success">Aktif </a> </td>
            <td><a href="/Service/MakePassive/@item.ServiceId" class="btn btn-outline-secondary">Pasif </a> </td>
        </tr>
    }


</table>

<br />
<a href="/Service/AddService" class="btn btn-outline-dark">Yeni Hizmet Ekle</a>
