<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/About/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Hakkımda
            </a>
            <a class="nav-link" href="/Category/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Kategoriler
            </a>

        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>