<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">İşlemler</div>


            <a class="nav-link" href="/Default/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-laptop"></i></div>
                Siteye Git
            </a>

            <a class="nav-link" href="/About/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Hakkımda
            </a>
            <a class="nav-link" href="/Category/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Kategoriler
            </a>
            <a class="nav-link" href="/Project/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                Projelerim
            </a>
            <a class="nav-link" href="/Contact/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-phone"></i></div>
                İletişim Bilgileri
            </a>
            <a class="nav-link" href="/Experience/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-suitcase"></i></div>
                Deneyimlerim
            </a>
            <a class="nav-link" href="/Feature/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-image"></i></div>
                Öne Çıkan
            </a>
            <a class="nav-link" href="/Service/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                Hizmetlerim
            </a>
            <a class="nav-link" href="/Message/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-comment"></i></div>
                Gelen Mesajlar
            </a>
            <a class="nav-link" href="/Skill/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                Yeteneklerim
            </a>
            <a class="nav-link" href="/SocialMedia/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                Sosyal Medya
            </a>
            <a class="nav-link" href="/Team/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Takım Arkadaşlarım
            </a>
            <a class="nav-link" href="/Testimonial/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-quote-left"></i></div>
                Referanslarım
            </a>


        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>