
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DevFolio - Developer Portfolio Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/Templates/devfolio2-main/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio2-main/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio2-main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Templates/devfolio2-main/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Templates/devfolio2-main/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">DevFolio</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active">Ana Sayfa</a>
                    <a href="#about" class="nav-item nav-link">Hakkımda</a>
                    <a href="#service" class="nav-item nav-link">Hizmetlerim</a>
                    <a href="#experience" class="nav-item nav-link">Deneyim</a>
                    <a href="#portfolio" class="nav-item nav-link">Projelerim</a>
                    
                    <a href="#review" class="nav-item nav-link">Referanslarım</a>
                    <a href="#team" class="nav-item nav-link">Ekip Arkadaşlarım</a>
                    
                    <a href="#contact" class="nav-item nav-link">İletişim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    @RenderBody()



    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <h2>Kate Winslet</h2>
                    <h3>123 Street, New York, USA</h3>
                    <div class="footer-menu">
                        <p>+012 345 67890</p>
                        <p>info@example.com</p>
                    </div>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>@DateTime.Now.Year  &copy; <a href="/Default/Index">My Portfolio</a>, Tüm Hakları Saklıdır. | Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/easing/easing.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/wow/wow.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/typed/typed.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Templates/devfolio2-main/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Templates/devfolio2-main/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Templates/devfolio2-main/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Templates/devfolio2-main/js/main.js"></script>
</body>
</html>

